block navigation
  .navbar.navbar-expand-sm.bg-dark.navbar-dark
    .container-fluid
      .navbar-header
          a.navbar-brand(href='/') Blogger
          button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#collapsibleNavbar')
            span.navbar-toggler-icon
        
        //- #navbar-main.navbar-collapse.collapse
        //-     ul.nav.navbar-nav
        //-         li: a(href='/blog') Blog List
        //-         li: a(href='blog/add') Add Blog