extends ../layout

block content
  h1= title
  each blog, idx in blogs
    .card
      .card-body
        h4.card-title= blog.blogTitle
        p.card-text= blog.blogText
        a.card-link(href="/blogs/"+idx)
          i.bi.bi-pencil-square Edit
    