block blog-error
    .alert.alert-danger.alert-dismissible
        button#alert-error.btn-close(type="button", data-bs-dismiss="alert")
        strong= error

block scripts
    script.
        alertId = setInterval(closeAlert, 5);
        var closeAlert = function () {
            clearInterval(alertId);
            document.getElementById("alert-message").click();
        }