extends layout

block content
    h1= title
    p Welcome to my biography page.  I hope you learn something interesting about me! 
    p
        table
            tr 
                td Name
                td Steven Barnes 
            tr 
                td Age 
                td 33
            tr 
                td Occupation 
                td Sr. Business Intelligence Analyst, US Foods
            tr 
                td Interests 
                td Gaming, travel, coding 
    p 
        a(href='/') Home